<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzBTbdoJdFFtDRxpeS6dNNrQq9kVCvRWY</string>
	<key>GCM_SENDER_ID</key>
	<string>649997249682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appDevelopments</string>
	<key>PROJECT_ID</key>
	<string>owemate-41f03</string>
	<key>STORAGE_BUCKET</key>
	<string>owemate-41f03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649997249682:ios:893d698eadee9d2a058a4b</string>
</dict>
</plist>